.container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  transition: all 0.5s;
  place-items: center;
}

.input {
  height: 48px;
  width: 256px;
  border-radius: 5px;
  border-color: rgb(66, 66, 66);
  padding-left: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}

.output {
  height: 48px;
  width: 256px;
  border-radius: 5px;
  border-color: rgb(66, 66, 66);
  padding-left: 15px;
  font-size: 16px;
  background-color: rgb(97, 97, 163);
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
}
